/* Header.css */
:root {
  --button-padding: 10px;
  --button-margin: 10px;
  --button-font-size: 18px;
  --menu-button-font-size: 16px;
  --button-border-radius: 5px;
  --button-cursor: pointer;
  --button-transition: 0.3s;
  --button-color: #fff;
  --border-radius: 5px;
}

.header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid #000000;
  background-color: #03680a;
  z-index: 3;
}

.accountInfo {
  margin: 0;
}

.connectButton, .menuButton {
  padding: var(--button-padding);
  margin: var(--button-margin);
  border: none;
  border-radius: var(--button-border-radius);
  cursor: var(--button-cursor);
  transition: var(--button-transition);
  color: var(--button-color);
}

.menuButton {
  font-size: var(--menu-button-font-size);
  background-color: #04930e;
}

.menuButton:hover {
  background-color: #f1d625;
  color: #000;
}

.connectButton {
  background-color: #04930e;
  font-size: var(--button-font-size);
}

.connectButton:hover {
  background-color: rgb(203, 165, 10);
}
