/* Footer.css */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #03680a;
    color: white;
    text-align: center;
    padding: 10px 0;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  .footer p {
    margin: 0;
  }
  
  .languageButton {
    padding: 10px;
    margin: 10px;
    font-size: 18px;
    color: #fff;
    background-color: #04930e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .languageButton:hover {
    background-color: #f1d625;
    color: #000;
  }
  