:root {
  --button-padding: 10px;
  --button-margin: 10px;
  --button-font-size: 18px;
  --button-border-radius: 5px;
  --button-cursor: pointer;
  --button-transition: 0.3s;
  --button-color: #fff;
  --border-radius: 5px;
  --container-padding: 20px;
  --container-margin: 10px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.token-icon {
  width: 50px;
  height: 50px;
}

.token-icon-small {
  width: 30px;
  height: 30px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: right;
  padding: 0 20px;
  border-bottom: 1px solid #000000;
  background-color: #1603e9;
}

.accountInfo {
  margin: 0;
}

.languageButton, .connectButton {
  padding: var(--button-padding);
  margin: var(--button-margin);
  font-size: var(--button-font-size);
  color: var(--button-color);
  border: none;
  border-radius: var(--button-border-radius);
  cursor: var(--button-cursor);
  transition: var(--button-transition);
}

.languageButton {
  background-color: #2200bc;
}

.languageButton:hover {
  background-color: #f1d625;
  color: #000;
}

.connectButton {
  background-color: rgb(189, 179, 1);
}

.connectButton:hover {
  background-color: rgb(203, 165, 10);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.green-text {
  color: green;
}

.presale-container h2, .presale-container h3 {
  text-align: left;
  margin-left: 0;
}

.presale-container h2 {
  display: flex;
  align-items: left;
}

.presale-container h3 {
  font-size: smaller;
}

.rounded-rect {
  border: 1px solid #000;
  border-radius: var(--border-radius);
  padding: var(--container-padding);
  margin: var(--container-margin);
}

.buy-instructions {
  list-style-position: inside;
  text-align: left;
  margin-left: 0;
  margin-bottom: 0;
}

.presale-boomtoken, .token-price-container {
  text-align: left;
}

.presale-boomtoken .green-text {
  margin-bottom: 0; /* Remove margin at the bottom */
}

.presale-boomtoken h2 {
  margin-top: 0; /* Remove margin at the top */
  margin-bottom: 0;
}

.presale-container {
  width: 45%;
  margin-left: 0;
}

.info-container {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
}

.presale-container,
.purchase-container {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #000;
  border-radius: 10px;
  height: auto;
}

.presale-container {
  margin-right: 10px;
  width: 60%;
}

.purchase-container {
  margin-left: 10px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input-label {
  align-self: flex-start;
}

.amount-input,
.token-price,
.buy-button {
  width: 100%;
  margin-top: 5px;
}

.buy-button {
  text-align: center;
}

.token-details {
  text-align: left;
}

.metamask-button {
  margin-top: 0;
  align-self: flex-start;
  margin-left: 0;
}

.instructions-container {
  width: 100%;
}

.buy-instructions {
  padding-left: 0;
  list-style: none;
}

.buy-instructions li:not(:first-child) {
  margin-left: 1em;
  list-style-type: decimal;
}

.instructions-container p {
  margin-bottom: 0px; /* Adjust this value to your preference */
}

@media (max-width: 600px) {
  .info-container {
    flex-direction: column; 
  }

  .presale-container,
  .purchase-container {
    flex: none; 
    width: 100%; 
    margin: 10px 0; 
  }
}
